.loginpanel {
  margin-left: 1em;
  border: 1px solid black;
  width: 20em;
}

.loginpanel .error {
  margin-top: 0.4em;
  padding: 0 1em 0 1em;
  color: red;
  background-color: pink;
  font-weight: bold;
}

.loginpanel * {
  margin-left: 1em;
  margin-right: 1em;
}

.loginpanel label {
  width: 8em;
  display: block;
  margin-top: 1em;
}

.loginpanel input[type="text"],input[type="password"] {
  width: 90%;
}

.loginpanel button {
  display: block;
  margin: 1em;
  background-color: green;
  color: white;
}
